* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #714da6;
    position: relative;
    scroll-behavior: smooth;
}



.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    /* position: fixed; */
    /* background-color: #714da6\; */
}

.name {
    font-size: 2rem;
    font-family: caveat;
    color: #fff;
}

.navsection {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.navsection a {
    font-size: 20px;
    font-family: poppins;
    text-decoration: none;
    color: beige;
    position: relative;
}

.navsection a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navsection a:hover::after {
    width: 100%;

}

.navsection a:hover {
    color: #af81fe;

}

/* -------------------------------------SCROLL BAR---------------------------------------------- */

/* ::-webkit-scrollbar {
    width: 2px;
} */

/* ==================================================hero section=================================================== */
.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.heroicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroicon .fa-brands:hover {
    /* color: #000; */
    /* box-shadow: 0 0 10px #fff; */
    /* background-color: #33027c; */

}

.heroheadline {
    font-size: 20px;
    font-family: poppins;
    color: black;
}

#headline {
    margin: 1rem 0 1rem;
}


.heroimage {
    width: 40%;
    height: 100%;
}

#heroimg {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.herobutton {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.herobutton .icon {
    background: black;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    top: 0.3em;
    transition: all 0.3s;
}

.herobutton:hover .icon {
    width: calc(100% - 0.6em);
}

.herobutton .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.herobutton:hover .icon svg {
    transform: translateX(0.1em);
}

.herobutton:active .icon {
    transform: scale(0.95);
}

/*==================================================================== about section ===================================================*/
.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.aboutwrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}

.aboutimg {
    width: 100%;
    height: 100%;
}

#aboutimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.aboutcontent {
    width: 80%;
}

.aboutcontent p {
    font-size: 20px;
    font-family: poppins;
    /* text-align: center; */
    text-transform: capitalize;
    margin-top: 8rem;

}

#aboutheading {
    font-size: 30px;
    font-family: poppins;
}

/* ===================================================================skill section================================================= */

.skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

#skillheading {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: poppins;


}

.skillset {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* ------------------------------------------------Project sectio,------------------------- */


/* -------------------------------------contact section */

.contactsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.contactwrapper {
    font-family: poppins;
    font-size: 20px;
}

.contacticonwrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-size: 20px;
    font-family: poppins;
    color: black;
    line-height: 3;

}

.mail {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.linkdein {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*------------------------------------------- foooter------------------------------------------------- */
.footer {
    width: 100%;
    background-color: #853fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    position: relative;
}

.footercontainer {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: poppins;
}

.footercontainer span {
    font-size: 12px;
}

.footernav {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: poppins;

}

.footernav a {
    text-decoration: none;
    color: #000;
}

.copyright {
    font-size: 15px;
    font-family: caveat;
    color: #fff;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
}

/*---------------------------------- Media quries -------------------------------------------------------*/

span .fa-solid fa-bars {
    position: absolute;
}

@media(max-width:400px) {

    .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        /* position: fixed; */
        /* background-color: #714da6\; */
    }

    .name {
        font-size: 2rem;
        font-family: caveat;
        color: #fff;
    }

    .navsection {
        width: 50%;
        display: none;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .navsection a {
        font-size: 20px;
        font-family: poppins;
        text-decoration: none;
        color: beige;
    }
}