* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #714da6;
    position: relative;
    scroll-behavior: smooth;
}

.hemberg {
    display: none;
}

.hemberg span {
    border-radius: 50%;
    background-color: #ab6fff;
    padding: 10px;
    text-align: center;
}

.hemberg i {
    font-size: 30px;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    /* position: fixed; */
    /* background-color: #714da6\; */
}

.name {
    font-size: 2rem;
    font-family: caveat;
    color: #fff;
}

.navsection {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.navsection a {
    font-size: 20px;
    font-family: poppins;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.navsection a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: whitesmoke;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.navsection a:hover::after {
    width: 100%;

}

.navsection a:hover {
    color: #af81fe;

}

#close {
    display: none;
}

#spanclose {
    display: none;
}

/* -------------------------------------SCROLL BAR---------------------------------------------- */

/* ::-webkit-scrollbar {
    width: 2px;
} */

/* ==================================================hero section=================================================== */
.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.heroicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    scale: 1;
    margin-bottom: 3rem;
}

.heroicon i {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    transition: transform 0.3s;
}

.heroicon i:active {
    transform: scale(1);
}

.heroicon i:hover {
    transform: scale(1.2);

}

.heroheadline {
    font-size: 20px;
    font-family: poppins;
    color: #fff;
}

#headline {
    margin: 1rem 0 1rem;
}


.heroimage {
    width: 40%;
    height: 100%;
}

#heroimg {
    width: 100%;
    height: 90%;
    object-fit: cover;
    filter: drop-shadow(3px 3px 6px #000);
}

.herobutton {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.auto-type {
    font-family: poppins;
    font-size: 24px;
    color: #9e5dfa;
}

.herobutton .icon {
    background: black;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    top: 0.3em;
    transition: all 0.3s;
}

.herobutton:hover .icon {
    width: calc(100% - 0.6em);
}

.herobutton .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.herobutton:hover .icon svg {
    transform: translateX(0.1em);
}

.herobutton:active .icon {
    transform: scale(0.95);
}

/*==================================================================== about section ===================================================*/
.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

}

.aboutwrapper {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}

.aboutimg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(7px 7px 7px black);
}

#aboutimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.aboutcontent {
    width: 80%;
}

.aboutcontent p {
    font-size: 19px;
    font-family: poppins;
    text-align: justify;
    text-transform: capitalize;
    color: #fff;
    margin-top: 8rem;

}

#aboutheading {
    font-size: 40px;
    font-family: poppins;
}

.btn {
    display: flex;
    font-weight: 600;
    align-items: center;
    background: #e3edf7;
    padding: 1.4em;
    font-size: 16px;
    border-radius: 10px;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s;
    text-decoration: none;
    gap: 1rem;
}

#btna {
    text-decoration: none;
}

.btn:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
}

.btn i {
    transition: transform 0.5s;
}

.btn:hover i {
    transform: scale(0.9);
    fill: #333333;
}



/* ===================================================================skill section================================================= */

.skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

#skillheading {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: poppins;
    padding-top: 2rem;


}

.skillset {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* ------------------------------------------------Project sectio,------------------------- */
.projectshocase {
    padding: 50px 0;
}

.myproject {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.myproject h2 {
    /* text-align: center; */
    font-size: 35px;
    font-family: poppins;

}

.myproject span {
    text-align: center;
    font-size: 10px;
    font-family: poppins;

}

.project_list {
    margin: 40px 0;
    padding: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box 2px solid black;
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    object-fit: cover;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(126, 34, 240));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    text-align: center;
    display: flex;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 20px;
    font-family: poppins;
    margin-bottom: 20px;
    color: #fff;
}

.layer p {
    font-size: 12px;
    font-family: poppins;
    color: #fff;
}

.layer a {
    margin-top: 20px;
    color: #714da6;
    font-size: 18px;
    padding: 15px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.layericon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.layer a:hover {
    scale: 1.2;

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    /* transform: scale(1.1); */
    height: 100%;
}

/* -------------------------------------contact section--------------------------------- */

.contactsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.contactwrapper {
    font-family: poppins;
    font-size: 20px;
}

.contacticonwrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    font-size: 20px;
    font-family: poppins;
    color: #fff;
    line-height: 3;

}

.mail {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.linkdein {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*------------------------------------------- foooter------------------------------------------------- */
.footer {
    width: 100%;
    background-color: #853fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem;
    position: relative;
}

.footercontainer {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: poppins;
}

.footercontainer span {
    font-size: 12px;
    position: absolute;
    top: 5rem;
}

.footernav {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: poppins;

}


.footernav a {
    text-decoration: none;
    color: #000;
}

.footericon {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.uparrow {
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #000;
    background-color: #9b61f2;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    bottom: 4rem;
    right: 1rem;
    animation: bounce-out-top 4s ease-in-out;
    scale: 1;

}

.uparrow i {
    color: #853fff;
}

.uparrow:hover {
    scale: 0.9;
}

.uparrow:active {
    scale: 0.7;
    color: #e3edf7;
}

@-webkit-keyframes bounce-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    5% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    25% {
        -webkit-transform: translateY(-38px);
        transform: translateY(-38px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    52% {
        -webkit-transform: translateY(-75px);
        transform: translateY(-75px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    85% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px);
        opacity: 0;
    }
}

@keyframes bounce-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    5% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    25% {
        -webkit-transform: translateY(-38px);
        transform: translateY(-38px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    52% {
        -webkit-transform: translateY(-75px);
        transform: translateY(-75px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    85% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px);
        opacity: 0;
    }
}



.copyright {
    padding: 0.5rem 0;
    font-size: 12px;
    font-family: poppins;
    color: #fff;
    text-transform: uppercase;
    background-color: #262626;
    text-align: center;
}

/*---------------------------------- Media quries -------------------------------------------------------*/

span .fa-solid fa-bars {
    position: absolute;
}

@media(max-width:768px) {

    .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding: 10px 10px;
    }

    .name {
        font-size: 22px;
        font-family: caveat;
        color: #fff;
    }

    .hemberg {
        /* color: #fff; */
        display: block;
    }

    .navsection {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 40px;
        position: absolute;
        right: -2000px;
        top: 0;
        width: 100vw;
        z-index: 99;
        height: 100vh;
        background-color: #853fff;
        color: #fff;

    }

    .navsection p {
        padding-top: 3.4rem;
        font-size: 40px;
    }

    .hemberg span {
        font-size: 2.4rem;
        color: #fff;
    }

    .navsection p a {
        font-size: 40px;
    }

    #spanclose {
        font-size: 12px;
        font-size: 2rem;
        display: flex;
        align-items: center;
        color: red;
        gap: 1rem;
    }

    #close {
        font-size: 2rem;
        display: block;
        color: red;
    }


    /* ==================================================hero section=================================================== */
    .hero {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 0px 3rem;

    }

    .heroicon {
        margin: 2rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }


    .heroimage {
        width: 100%;
        height: 100%;
    }

    #heroimg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(4px 4px 6px black);
    }

    /*==================================================================== about section ===================================================*/
    .about {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;

    }

    .aboutwrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;


    }

    .aboutimg {
        width: 100%;
        height: 100%;
        filter: drop-shadow(7px 7px 6px black);
    }




    #aboutimage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .aboutcontent {
        width: 80%;
    }

    .aboutcontent p {
        font-size: 17px;
        font-family: poppins;
        text-align: justify;
        text-transform: capitalize;
        margin: 0 0;
        letter-spacing: -1.2px;

    }

    #aboutheading {
        font-size: 30px;
        font-family: poppins;
    }

    .btn {

        display: flex;
        align-items: center;
        background: #e3edf7;
        padding: 1.4em;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        transition: transform 0.5s;
        gap: 12px;
        margin: 3rem 0;

    }

    /* ===================================================================skill section================================================= */

    .skill {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;

    }

    #skillheading {
        margin-bottom: 20px;
        font-size: 30px;
        font-family: poppins;


    }

    .skillset {
        width: 100%;
        padding: 4rem 0;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
        justify-content: start;
        align-items: center;
    }

    .skillset span {
        padding: 10px 3px;

    }

    /* ------------------------------------------------Project sectio,------------------------- */
    .projectshocase {
        padding: 50px 0;
    }

    .myproject {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .myproject h2 {
        /* text-align: center; */
        font-size: 35px;
        font-family: poppins;

    }

    .myproject span {
        text-align: center;
        font-size: 10px;
        font-family: poppins;

    }

    .project_list {
        margin: 3rem;
        padding: 3rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
    }

    .work {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        box-sizing: border-box 2px solid black;
    }

    .work img {
        width: 100%;
        height: 50vh;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
        object-fit: cover;
        filter: blur(2px);
    }

    .layer {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(126, 34, 240));
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;
        text-align: center;
        display: flex;
        transition: height 0.5s;
    }

    .layer h3 {
        font-size: 20px;
        font-family: poppins;
        margin-bottom: 20px;
        color: #fff;
    }

    .layer p {
        font-size: 12px;
        font-family: poppins;
        color: #fff;
    }

    .layer a {
        margin-top: 20px;
        color: #714da6;
        font-size: 18px;
        padding: 15px;
        background: #fff;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        text-align: center;
    }

    .layericon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .layer a:hover {
        scale: 1.2;

    }

    .work:hover img {
        transform: scale(1.1);
    }

    .work:hover .layer {
        /* transform: scale(1.1); */
        height: 100%;
    }


    /* ---------------------------------------------------------Contact------------------------------------ */
    .contactsection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    .contactwrapper {
        font-family: poppins;
        font-size: 20px;
    }

    .contacticonwrapper {
        font-size: 14px;
        font-family: poppins;
        color: black;
        line-height: 5;

    }

    .mail {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .linkdein {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    /* ------------------------------------------------------footer ---------------------------------------------*/

    .footer {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        padding: 4rem;
        position: relative;
        line-height: 2;
    }

    .footercontainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        font-size: 20px;
        font-family: poppins;
    }

    .footercontainer h2 {
        text-align: ;
    }

    .footercontainer span {
        font-size: 12px;
        position: absolute;
        top: 7rem;

    }

    .footernav {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: first baseline;
        justify-content: space-between;
        font-size: 20px;
        font-family: poppins;

    }

    .footernav a {
        text-decoration: none;
        color: #000;
    }

    .footericon {
        width: 35%;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        position: absolute;
        bottom: 2rem;
        left: 3rem;

    }

    .copyright {
        font-size: 8px;
        font-family: poppins;
        color: #fff;

    }

    .uparrow {
        padding: 5px;
    }
}